<h1 class="name-header">Jobs</h1>
<table class="table">
  <thead>
    <tr class="head">
      <th>Name</th>
      <th>Description</th>
      <th>Frequency</th>
      <th>Estimated price</th>
      <th>Route</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.frequency %></td>
        <td><%= job.estimated_price %></td>
        <td><%= job.route.name%></td>
        <td><%= link_to 'Show', client_job_path(@client, job) %></td>
        <td><%= link_to 'Edit', edit_client_job_path(@client, job) %></td>
        <td><%= link_to 'Remove', client_job_path(@client, job), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
