
  <% if @job.errors.any? %>
  <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form_container">
  <%= simple_form_for([@client, @job]) do |f| %>


    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :frequency, collection: [1, 2, 4, 8, 12], label: 'every number of weeks' %>
      <%= f.input :estimated_price %>
      <%= f.association :route, collection: Route.order(:name), prompt: "Choose a Route" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
