<%= link_to "New Route", new_route_path %><br />
<%= link_to "All Clients", clients_path %><br />
<%= link_to "New Employee", new_user_path %><br />
<%= link_to "New Client", new_client_path %><br />

<% if @last_work_order_week.to_i < Time.now.strftime('%W').to_i %>
  <%= link_to "Generate work orders", current_work_orders_path, method: :post %>
  <%= link_to "Generate next weeks work orders", next_work_orders_path, method: :post %>
<% elsif @last_work_order_week == Time.now.strftime('%W').to_i %>
  <%= link_to "Generate next weeks work orders", next_work_orders_path, method: :post %>
<% end %>




<p id="notice"><%= notice %></p>

<h1>Listing Work Orders</h1>
<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Final price</th>
      <th>Week</th>
      <th>Complete?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_orders = WorkOrder.all %>
    <% @work_orders.each do |work_order| %>
      <tr>
        <td><%= work_order.job.name %></td>
        <td><%= work_order.final_price %></td>
        <td><%= work_order.week %></td>
        <td><%= work_order.complete %></td>
        <td><%= link_to 'Show', work_order %></td>
        <td><%= link_to 'Edit', edit_work_order_path(work_order) %></td>
        <td><%= link_to 'Destroy', work_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work order', new_work_order_path %>

