<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% if @user != current_user %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.email %></h3>
  <h3><%= @user.phone %></h3>
<% end %>

<% if current_user.admin? %>
  <div class="admin-container"><%= render "admin_page" %> </div>
<% else %>
  <%= render "employee_page" %>
<% end %>






