<section class="create-new-link"><%= link_to 'New Client +', new_client_path %></section>

<h1 class="name-header">Clients</h1>
<div class="destroy_notice">
  <p id="notice"><%= notice %></p>
</div>

<table id='client_table' class="table">
  <thead>
    <tr class="head">
      <th>Business name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th>Street address</th>
      <th>Neighborhood</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.business_name %></td>
        <td><%= client.contact_email %></td>
        <td><%= client.contact_phone %></td>
        <td><%= client.street_address %></td>
        <td><%= client.neighborhood %></td>
        <td><%= client.zip_code %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Remove', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

