<%= simple_form_for(@work_order) do |f| %>
  <%= f.error_notification %>

  <h2><%= @work_order.job.name %></h2>
  <p><%= @work_order.job.description %></p>
  <p>Estimated Price: <%= @work_order.job.estimated_price %></p>

  <div class="form-inputs">
    <%= f.input :final_price %>
    <%= f.input :notes , placeholder: "notes", label: false %>
    <%= f.input :complete, collection: ['complete', 'incomplete', 'pass'],  label: "Status" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
